<!DOCTYPE html>
<html>
<head>
	<title>HELLO world</title>
	<script src="/angular/angular.min.js" ></script>
	<script src="/controllers/controller.js" ></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/master.css"/>
</head>
<body>

{{{body}}}
	<script src="/js/MainController.js" ></script>
</body>
</html>